	<div class="col-lg-4 col-lg-offset-4">
    <h3 class="text-center">eingurat504</h3>
      <p class="text-center">Sign in to get in touch</p>
      <hr class="clean">
      {{#if errors}}
          {{#each errors}}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">{{msg}}</div>
          {{/each}}
      {{/if}}
    <form id="signup" name="signup" method="post" action="/signup">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input type="email" class="text form-control" name="email"  placeholder="Email Address" />
        </div>
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" name="firstname"  placeholder="First Name" />
        </div>
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" name="lastname"  placeholder="Last Name" />
        </div>
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="password" class="form-control" name="password"  placeholder="Password" />
        </div>
        <div class="form-group">
          <label class="cr-styled">
              <input type="checkbox" ng-model="todo.done">
              <i class="fa"></i> 
          </label>
          Remember me
        </div>
      <button type="submit" class="btn btn-purple btn-block">Create Account</button>
    </form>
      
    <hr>
      
      <p class="text-center text-gray">Already have account</p>
      <a href="/signin"><button class="btn btn-default btn-block">Sign In</button></a>
  </div>