<!DOCTYPE html>
<html>

<head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>eingurat504</title>

	<meta name="description" content="">
	<meta name="author" content="Akshay Kumar">

	<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" /> 
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/app/app.v1.css" />
</head>
<body>	
    <div class="container">
    	<div class="row">
    	<div class="col-lg-4 col-lg-offset-4">
        	<h3 class="text-center">eingurat504</h3>
            <p class="text-center">Sign in to get in touch</p>
            <hr class="clean">
        	<form id="signup" name="signup" method="post" action="/signup">
               <input type="hidden" class="text form-control" name="_csrf" value="_csrfToken" />      
              <div class="form-group input-group">
              	<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" class="text form-control" name="email"  placeholder="Email Address" />
              </div>
              <div class="form-group input-group">
              	<span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="firstname"  placeholder="First Name" />
              </div>
              <div class="form-group input-group">
              	<span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="lastname"  placeholder="Last Name" />
              </div>
              <div class="form-group input-group">
              	<span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input type="password" class="form-control" name="password"  placeholder="Password" />
              </div>
              <div class="form-group">
                <label class="cr-styled">
                    <input type="checkbox" ng-model="todo.done">
                    <i class="fa"></i> 
                </label>
                Remember me
              </div>
        	  <button type="submit" class="btn btn-purple btn-block">Create Account</button>
            </form>
            <hr>
            
            <p class="text-center text-gray">Already have account</p>
            <a href="/signin"><button class="btn btn-default btn-block">Sign In</button></a>
        </div>
        </div>
    </div>
    <!-- JQuery v1.9.1 -->
	<script src="/js/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/js/plugins/underscore/underscore-min.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- Globalize -->
    <script src="/js/globalize/globalize.min.js"></script>
    <!-- NanoScroll -->
    <script src="/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- Custom JQuery -->
	<script src="/js/app/custom.js" type="text/javascript"></script>
</body>
</html>
