<footer class="container-fluid footer">
    Copyright &copy; 2014 <a href="http://freakpixels.com/" target="_blank">FreakPixels</a>
    <a href="#" class="pull-right scrollToTop"><i class="fa fa-chevron-up"></i></a>
</footer>