	<aside class="left-panel">
    		
            <div class="user text-center">
                  <img src="/images/avtar/user.png" class="img-circle" alt="...">
                  <h4 class="user-name">Akshay Kumar</h4>
                  
                  <div class="dropdown user-login">
                  <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-circle status-icon available"></i> Available <i class="fa fa-angle-down"></i>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-circle status-icon busy"></i> Busy</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-circle status-icon invisibled"></i> Invisible</a></li>
                    <li role="presentation"><a role="menuitem" href="/logout"><i class="fa fa-circle status-icon signout"></i> Sign out</a></li>
                  </ul>
                  </div>	 
            </div>
            
            <nav class="navigation">
            	<ul class="list-unstyled">
                	<li><a href="/email"><i class="fa fa-bookmark-o"></i><span class="nav-label">Email</span></a></li>
                    <li class="has-submenu"><a href="#"><i class="fa fa-comment-o"></i> <span class="nav-label">Widgets &amp; Apps</span></a>
                    	<ul class="list-unstyled">
                        	<li><a href="#">Email</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu"><a href="#"><i class="fa fa-flag-o"></i> <span class="nav-label">UI Elements</span></a></li>
                    <li class="has-submenu"><a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">Forms</span></a></li>
                    <li class="has-submenu"><a href="#"><i class="fa fa-heart-o"></i> <span class="nav-label">Table &amp; Grid</span></a></li>
                    <li class="has-submenu active"><a href="#"><i class="fa fa-code"></i> <span class="nav-label">Charts</span></a></li>
                    <li class="has-submenu"><a href="#"><i class="fa fa-star-o"></i> <span class="nav-label">Plugins &amp; More</span></a>
                    	<ul class="list-unstyled">
                        	<li><a href="404.html">404 Page</a></li>
                        	<li><a href="invoice.html">Invoice</a></li>
                            <li><a href="elfinder.html">File Manager</a></li>
                            <li><a href="google-maps.html">Google Maps</a></li>
                            <li><a href="signin.html">Signin</a></li>
                            <li><a href="signup.html">Signup</a></li>
                            <li><a href="search.html">Search</a></li>
                            <li><a href="full-screen.html">Full Screen</a></li>
                            <li><a href="blank.html">Blank Page</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </nav>
            
    </aside>
    